<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
	<head>

	<title>Item : View all</title>
	</head>
	<body>
		
	<div layout:fragment="header" class="fh5co-loader"></div>
	
	<div layout:fragment="content" id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-2 col-lg-4">
							<div id="fh5co-logo"><a href="/">Aida SMS<span>.</span></a></div>
						</div>
						<div class="col-xs-8 text-right menu-1">
							<ul>
								<li class="active"><a href="/">Home</a></li>
								<li><a href="/order/">Orders</a></li>
								<li><a href="#">Abouts</a></li>
								<li class="has-dropdown btn-cta">
									<a href="/customer/list.html"><span>Moniter</span></a>
									<ul class="dropdown">
										<li><a href="/" onclick="javascript:event.target.port=8761">Eureka</a></li>
										<li><a href="/" onclick="javascript:event.target.port=8989">Hystrix dashboard</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</nav>

	<div id="fh5co-portfolio">
		<div class="container">
			<h2 class="col-md-3">Manager Orders</h2>
			<div class="text-right">
					<a class="btn btn-default" href="form.html">Add Item</a>
				</div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td><label>Order Id</label></td>
						<td><label>Customer</label></td>
						<td><label>Total Price</label></td>
						<td><label>Operation</label></td>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${orders.empty}">
						<td colspan="4">No orders</td>
					</tr>
					<tr th:each="order : ${orders}">
						<td><a href="order/1" th:href="${order.id}"
							th:text="${order.id}">1</a></td>
						<td
							th:text="${@customerClient.getOne(order.customerId).firstname} + ' ' + ${@customerClient.getOne(order.customerId).name}">Firstname
							Name</td>
						<td th:text="${order.totalPrice(@catalogClient)}">42.0</td>
						<td><form th:action="'/order/'+${order.id}" th:method="delete">
								<input type="submit" value="delete" class="btn btn-default" />
							</form></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div id="fh5co-started">
			<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>AIDA-SMS</h2>
						<p>This is a proof-of-concept application, which demonstrates Microservice Architecture Pattern using Spring Boot, Spring Cloud and Docker. With a pretty neat user interface, by the way.</p>
						<p><a href="http://aida.ecnu.edu.cn/" class="btn btn-default btn-lg">Contact Us</a></p>
					</div>
				</div>
			</div>
		</div>
</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>


	</body>
</html>

