<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
	<head>
	<title>Item : View all</title>

	</head>
	<body>
		
	<div layout:fragment="header" class="fh5co-loader"></div>
	
	<div layout:fragment="content" id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-2 col-lg-4">
							<div id="fh5co-logo"><a href="/">Aida SMS<span>.</span></a></div>
						</div>
						<div class="col-xs-8 text-right menu-1">
							<ul>
								<li class="active"><a href="/">Home</a></li>
								<li><a href="/order/">Orders</a></li>
								<li><a href="#">Abouts</a></li>
								<li class="has-dropdown btn-cta">
									<a href="/customer/list.html"><span>Moniter</span></a>
									<ul class="dropdown">
										<li><a href="/" onclick="javascript:event.target.port=8761">Eureka</a></li>
										<li><a href="/" onclick="javascript:event.target.port=8989">Hystrix dashboard</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</nav>

	<div id="fh5co-portfolio">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>All Items</h2>
					<p>Manage the infomations of all items.</p>
				</div>
				<div class="col-md-3 text-right">
					<a href="form.html">Add Item</a>
				</div>
				<div class="col-md-3 text-right">
					<form action="searchByName.html" method="get" role="search" class="form">
						<input type="text" class="col-md-8" name="query" value="search by name"/>
						<button type="submit" class="col-md-3 btn text-right" name="submit" >GO</button>
					</form>
				</div>
			</div>
			<div class="row" th:if="${items.empty}">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2>There are no item in database！</h2>
					<p>Click <a href="form.html">here</a> to add an item... </p>
				</div>
			</div>
			<div class="row">
			
				<div class="col-md-3" th:each="item : ${items}">
					<div class="fh5co-blog animate-box fadeInUp animated-fast">
						<a href="#" class="blog-bg" style="background-image: url(http://o7ie0tcjk.bkt.clouddn.com/microservice/lec-proj/item.jpg);"></a>
						<div class="blog-text">
							<p>Item Id:<a href="1.html" th:href="${item.id+'.html'}" th:text="${item.id}">1</a></p>
							<p>Item Name:<a th:text="${item.name}">Name</a></p>
							<p>Item Price:<a th:text="${item.price}">42.0</a></p>
							<form th:action="${item.id+'.html'}" th:method="delete">
								<input type="submit" value="delete" class="btn btn-default" />
							</form>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-started">
			<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>AIDA-SMS</h2>
						<p>This is a proof-of-concept application, which demonstrates Microservice Architecture Pattern using Spring Boot, Spring Cloud and Docker. With a pretty neat user interface, by the way.</p>
						<p><a href="http://aida.ecnu.edu.cn/" class="btn btn-default btn-lg">Contact Us</a></p>
					</div>
				</div>
			</div>
		</div>
</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	</body>
</html>

